/* Weather Icons - Conditions */
.weatherIconFont {
    font-size: 2.5rem;
}

/* All */
/* html {
    max-width: 100%;
    overflow-x: hidden;
} */

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/daytime.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

/* Navbar */
.bgBlue {
    background-color: #1D2837;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}

.form-control {
    border: none;
    border-radius: 0;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.searchBtnStyle {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
}

.searchBtnStyle:hover {
    background-color: #EDA169;
    color: #FFFFFF;
}

/* Body */
/* Borders */
.bodyTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.bodyTitleSmall {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.borderRadius {
    border-radius: 8px;
}

.borderRadiusCity {
    border-radius: 8px 8px 0 0;
}

/* Text */
#favoritesAddBtn {
    cursor: pointer;
}

.headerText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.spacing {
    letter-spacing: 20px;
}

.tempText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 80px;
}

.belowCityText {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.timesText {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.todaysTempsHour {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.fiveDayText {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.fiveDayTemp {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.favoritesBtnS {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.953);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 130px;
    padding-right: 130px;
}

/* Modal */
.remove-button {
    background-color: transparent;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the last parameter (0.9) for transparency */
}

#favoritesModal {
    left: 0;     /* Position the modal to the left */
    right: auto; /* Reset the default right positioning */
}

.modal-dialog {
    margin-right: auto; /* Center the modal horizontally */
    margin-left: 0;     /* Reset the default left margin */
}

/* Background */
.bgTopTransparent {
    background-color: rgba(34, 31, 31, 0.127); /* Adjust the alpha value for transparency (0 is fully transparent, 1 is fully opaque) */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Apply drop shadow to bottom and right sides */
}

